<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title><%= title %></title>
</head>
<body>
    <!--/* ********************************** */
        /*              BANNER             */
        /* ********************************** */-->
        <header class="bg_animatee">
            <div class="bannerr_imgg">
              <img class="imgg" src="../IMG/turropaay.png" alt="Banner Image">
              <div class="bannerr_title">
                <h2>"Potenciando tu visión con código"</h2>
                <a class="llamanoss" target="_blank" href="https://wa.link/oh4axm">Escribeme...</a>
              </div>
            </div>
      
            <div class="burbujass">
              <div class="burbujaa"></div>
              <div class="burbujaa"></div>
              <div class="burbujaa"></div>
              <div class="burbujaa"></div>
              <div class="burbujaa"></div>
              <div class="burbujaa"></div>
              <div class="burbujaa"></div>
              <div class="burbujaa"></div>
              <div class="burbujaa"></div>
              <div class="burbujaa"></div>
            </div>
          </header>
        <!-- ********************************** -->
      <!--            DATOS 1        -->
      <!-- ********************************** -->
          <section class="container container-features">
            <div class="card-feature">
              <i class="fa-solid fa-earth-americas"></i>
              <div class="feature-content">
                <span>Trabajo remoto</span>
                <p>Labor realizada desde fuera de la oficina</p>
              </div>
            </div>
            <div class="card-feature">
              <i class="fa-solid fa-wallet"></i>
              <div class="feature-content">
                <span>Contrareembolso</span>
                <p>100% garantía y seguro</p>
              </div>
            </div>
            <div class="card-feature">
              <i class="fa-solid fa-video"></i>
              <div class="feature-content">
                <span>Asesorias particulares</span>
                <p>Sesiones con un experto para resolver <br>problemas específicos </p>
              </div>
            </div>
            <div class="card-feature">
              <i class="fa-solid fa-headset"></i>
              <div class="feature-content">
                <span>Servicio al cliente 24/7</span>
                <p>LLámenos 24/7 al <br>954304533 || 937719 062</p>
              </div>
            </div>
          </section>
</body>
</html>