<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title><%= title %></title>
</head>
<body>
    <!--/* ********************************** */
              /*          BOTON FLOTANTE               */
              /* ********************************** */-->
              <div class="containerrrrr">
                <input type="checkbox" id="btn-mas">
                <div class="redes">
                    <div class="redes1"><a href="https://www.linkedin.com/in/joshua-pereda-l%C3%B3pez-990085256/" target="_blank" class="fa fb"><i class="fa-brands fa-linkedin"></i></a></div>
                    <div class="redes2"><a href="https://github.com/joshuapereda" target="_blank" class="fa tw"><i class="fa-brands fa-github"></i></a></div>
                    <div class="redes3"><a href="https://wa.link/0m3kkw"target="_blank" class="fa fa-whatsapp wp"></a></div>
                </div>
                <div class="btn-mas">
                    <label for="btn-mas" class="fa fa-message"></label>
                </div>
            </div>
</body>
</html>